---
---

<div class="mr-auto flex items-center align-middle">
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 32 32" fill="none" aria-hidden="true">
    <rect width="32" height="32" rx="6" class="fill-primary-accent"/>
    <path d="M4.5 9h8v2.2h-2.5V23H7.5V11.2H4.5V9z" fill="white"/>
    <path d="M13 9h2.4l1.8 8.5L19.2 9h2.2l2 8.5L25.2 9h2.3l-3.1 14h-2.4l-2-8.2-2 8.2h-2.4L13 9z" fill="white"/>
  </svg>
</div>
