---
import ContactForm from "@/components/forms/ContactForm.astro";
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute, getTranslatedData, useTranslations } from "@/js/translationUtils";
const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<section id="contact" class="site-container my-20 scroll-mt-20 md:my-32">
  <div class="mt-6 grid gap-10 lg:grid-cols-2">
    <div class="">
      <h2 class="h2 mb-4">{t("book_appointment")}</h2>
      <p class="description mb-8">
        {t("book_appointment_description")}
      </p>
      <div class="mb-8">
        <h3 class="font-heading mb-4 text-xl leading-normal font-semibold">{t("office_hours")}</h3>
        <p class="text-muted-foreground">Monday - Friday: 8:00 AM - 6:00 PM</p>
        <p class="text-muted-foreground">Saturday: 9:00 AM - 1:00 PM</p>
        <p class="text-muted-foreground">Sunday: Closed</p>
      </div>
      <div class="mb-8">
        <h3 class="font-heading mb-4 text-xl leading-normal font-semibold">{t("contact_info")}</h3>
        <p class="text-muted-foreground mb-2">
          <span class="font-semibold">{t("phone")}</span>
          (555) 123-4567
        </p>
        <p class="text-muted-foreground mb-2">
          <span class="font-semibold">{t("email")}</span>
          <a
            class="text-foreground hover:text-primary-accent hover:decoration-primary-accent underline"
            href={getLocalizedRoute(currLocale, `mailto:info@medicaloffice.com`)}
            >info@medicaloffice.com</a
          >
        </p>
      </div>
      <div class="mb-8">
        <h3 class="font-heading mb-4 text-xl leading-normal font-semibold">{t("our_location")}</h3>
        <p class="text-muted-foreground">
          {t("emergency_hotline")}
          <span class="font-semibold">(555) 911-0000</span>
        </p>
      </div>
    </div>
    <div class="">
      <div class="rounded-lg border p-8 shadow-md">
        <h3 class="font-heading tracking-px-n mb-6 text-3xl leading-tight font-semibold">
          {t("send_message")}
        </h3>
        <ContactForm />
      </div>
    </div>
  </div>
</section>
